ejb-jar/src/test/resources/wsdl/journal_14.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:ns2="urn:sail:xsd:canonical:hl7v2" xmlns:ns1="urn:sail:xsd:infrastructure:services:security" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:sail:xsd:infrastructure:services:deadletter">

<xs:import namespace="urn:sail:xsd:infrastructure:services:security" schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=9" />

<xs:import namespace="urn:sail:xsd:canonical:hl7v2" schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=6" />

<xs:element name="GetDeadLetterEventsRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="source">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns3="urn:xsd:sail:infrastructure:services:systemregistry" ref="ns3:InterfaceDeploymentId" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="destination" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns4="urn:xsd:sail:infrastructure:services:systemregistry" ref="ns4:InterfaceDeploymentId" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="number_of_events" type="xs:int" minOccurs="0" />
<xs:element name="starting_element_index" type="xs:int" minOccurs="0" />
<xs:element name="starting_element_timestamp_exclusive" type="xs:long" minOccurs="0" />
<xs:element name="include_resolved" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="JournalDeadLetterMessageRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element ref="ns2:CanonicalHl7V2Message" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="MarkDeadLetterEventAsResolvedRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="event_id" type="xs:long" />
<xs:element name="source">
<xs:complexType>
<xs:sequence>
<xs:element xmlns:ns5="urn:xsd:sail:infrastructure:services:systemregistry" ref="ns5:InterfaceDeploymentId" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="resolved_flag" type="xs:boolean" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:schema>