core-jar/src/test/resources/wsdl/journal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:sail:wsdl:infrastructure:journalling" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:sail:wsdl:infrastructure:journalling"
	name="SAIL_Infrastructure_JournallingService">
	<types>
		<xsd:schema>
			<xsd:import namespace="urn:xsd:sail:infrastructure:services:systemregistry"
				schemaLocation="journal_1.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:GlobalValues"
				schemaLocation="journal_4.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:journal"
				schemaLocation="journal_12.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:fault:Fault"
				schemaLocation="journal_5.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:wsdl:infrastructure:journalling"
				schemaLocation="journal_7.xsd" />
		</xsd:schema>
		<!-- 
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:security"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=9" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:rfc3881"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=10" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:location"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=11" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:hcv"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=13" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:deadletter"
				schemaLocation="./journal_14.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:crypto"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=15" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:config"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=16" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="urn:sail:xsd:infrastructure:services:ProviderRegistryManager"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=2" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:infrastructure:services:ProviderRegistry"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=3" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:sail:xsd:canonical:hl7v2"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=6" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn://cts.hl7.org/types"
				schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=8" />
		</xsd:schema>
		-->
	</types>
	<message name="journal">
		<part xmlns:ns1="urn:sail:xsd:canonical:hl7v2" name="CanonicalHl7V2MessageElement"
			element="ns1:CanonicalHl7V2MessageElement" />
	</message>
	<message name="journalResponse">
		<part name="journalResponse" element="tns:journalResponse" />
	</message>
	<message name="InvalidInputException">
		<part xmlns:ns2="urn:sail:xsd:fault:Fault" name="fault"
			element="ns2:InvalidInputException" />
	</message>
	<message name="UnexpectedErrorException">
		<part xmlns:ns3="urn:sail:xsd:fault:Fault" name="fault"
			element="ns3:UnexpectedErrorException" />
	</message>
	<message name="addOrUpdateIdentifierTypes">
		<part xmlns:ns4="urn:sail:xsd:infrastructure:services:journal"
			name="AddOrUpdateIdentifierTypesRequest" element="ns4:AddOrUpdateIdentifierTypesRequest" />
	</message>
	<message name="addOrUpdateIdentifierTypesResponse">
		<part xmlns:ns5="urn:sail:xsd:infrastructure:services:journal"
			name="AddOrUpdateIdentifierTypesResponse" element="ns5:AddOrUpdateIdentifierTypesResponse" />
	</message>
	<message name="getMessageStatus">
		<part xmlns:ns6="urn:sail:xsd:infrastructure:services:journal"
			name="GetMessageStatusRequest" element="ns6:GetMessageStatusRequest" />
	</message>
	<message name="getMessageStatusResponse">
		<part xmlns:ns7="urn:sail:xsd:infrastructure:services:journal"
			name="GetMessageStatusResponse" element="ns7:GetMessageStatusResponse" />
	</message>
	<message name="getRecentMessages">
		<part xmlns:ns8="urn:sail:xsd:infrastructure:services:journal"
			name="GetRecentMessagesRequest" element="ns8:GetRecentMessagesRequest" />
	</message>
	<message name="getRecentMessagesResponse">
		<part xmlns:ns9="urn:sail:xsd:infrastructure:services:journal"
			name="GetRecentMessagesResponse" element="ns9:GetRecentMessagesResponse" />
	</message>
	<message name="journalMessage">
		<part xmlns:ns10="urn:sail:xsd:infrastructure:services:journal"
			name="JournalMessageRequest" element="ns10:JournalMessageRequest" />
	</message>
	<message name="journalMessageResponse">
		<part xmlns:ns11="urn:sail:xsd:infrastructure:services:journal"
			name="JournalMessageResponse" element="ns11:JournalMessageResponse" />
	</message>
	<portType name="JournallingWebService">
		<operation name="journal">
			<input
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journalRequest"
				message="tns:journal" />
			<output
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journalResponse"
				message="tns:journalResponse" />
			<fault message="tns:InvalidInputException" name="InvalidInputException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journal:Fault:InvalidInputException" />
			<fault message="tns:UnexpectedErrorException" name="UnexpectedErrorException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journal:Fault:UnexpectedErrorException" />
		</operation>
		<operation name="addOrUpdateIdentifierTypes">
			<input
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:addOrUpdateIdentifierTypesRequest"
				message="tns:addOrUpdateIdentifierTypes" />
			<output
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:addOrUpdateIdentifierTypesResponse"
				message="tns:addOrUpdateIdentifierTypesResponse" />
			<fault message="tns:InvalidInputException" name="InvalidInputException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:addOrUpdateIdentifierTypes:Fault:InvalidInputException" />
			<fault message="tns:UnexpectedErrorException" name="UnexpectedErrorException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:addOrUpdateIdentifierTypes:Fault:UnexpectedErrorException" />
		</operation>
		<operation name="getMessageStatus">
			<input
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getMessageStatusRequest"
				message="tns:getMessageStatus" />
			<output
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getMessageStatusResponse"
				message="tns:getMessageStatusResponse" />
			<fault message="tns:InvalidInputException" name="InvalidInputException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getMessageStatus:Fault:InvalidInputException" />
			<fault message="tns:UnexpectedErrorException" name="UnexpectedErrorException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getMessageStatus:Fault:UnexpectedErrorException" />
		</operation>
		<operation name="getRecentMessages">
			<input
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getRecentMessagesRequest"
				message="tns:getRecentMessages" />
			<output
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getRecentMessagesResponse"
				message="tns:getRecentMessagesResponse" />
			<fault message="tns:InvalidInputException" name="InvalidInputException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getRecentMessages:Fault:InvalidInputException" />
			<fault message="tns:UnexpectedErrorException" name="UnexpectedErrorException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:getRecentMessages:Fault:UnexpectedErrorException" />
		</operation>
		<operation name="journalMessage">
			<input
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journalMessageRequest"
				message="tns:journalMessage" />
			<output
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journalMessageResponse"
				message="tns:journalMessageResponse" />
			<fault message="tns:InvalidInputException" name="InvalidInputException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journalMessage:Fault:InvalidInputException" />
			<fault message="tns:UnexpectedErrorException" name="UnexpectedErrorException"
				wsam:Action="urn:sail:wsdl:infrastructure:journalling:JournallingWebService:journalMessage:Fault:UnexpectedErrorException" />
		</operation>
	</portType>
	<binding name="JournalServicePortBinding" type="tns:JournallingWebService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="journal">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
			<fault name="UnexpectedErrorException">
				<soap:fault name="UnexpectedErrorException" use="literal" />
			</fault>
		</operation>
		<operation name="addOrUpdateIdentifierTypes">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
			<fault name="UnexpectedErrorException">
				<soap:fault name="UnexpectedErrorException" use="literal" />
			</fault>
		</operation>
		<operation name="getMessageStatus">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
			<fault name="UnexpectedErrorException">
				<soap:fault name="UnexpectedErrorException" use="literal" />
			</fault>
		</operation>
		<operation name="getRecentMessages">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
			<fault name="UnexpectedErrorException">
				<soap:fault name="UnexpectedErrorException" use="literal" />
			</fault>
		</operation>
		<operation name="journalMessage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
			<fault name="UnexpectedErrorException">
				<soap:fault name="UnexpectedErrorException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="SAIL_Infrastructure_JournallingService">
		<port name="JournalServicePort" binding="tns:JournalServicePortBinding">
			<soap:address
				location="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService" />
		</port>
	</service>
</definitions>