core-jar/src/test/resources/wsdl/journal_12.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="urn:sail:xsd:infrastructure:services:journal" xmlns:ns3="urn:xsd:sail:infrastructure:services:systemregistry" xmlns:ns2="urn:sail:xsd:canonical:hl7v2" xmlns:ns1="urn:sail:xsd:infrastructure:services:security" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:sail:xsd:infrastructure:services:journal">

<xs:import namespace="urn:sail:xsd:infrastructure:services:security" schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=9" />

<xs:import namespace="urn:sail:xsd:canonical:hl7v2" schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=6" />

<xs:import namespace="urn:xsd:sail:infrastructure:services:systemregistry" schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=1" />

<xs:element name="AddOrUpdateIdentifierTypesRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateIdentifierTypesResponse">
<xs:complexType>
<xs:sequence />
</xs:complexType>
</xs:element>

<xs:element name="CountMessagesRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="from_date" type="xs:long" />
<xs:element name="to_date" type="xs:long" />
<xs:element name="interval_type" type="tns:IntervalType" />
<xs:element ref="ns3:InterfaceDeploymentId" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="GetMessageStatusRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="SourceInterface">
<xs:complexType>
<xs:sequence>
<xs:element ref="ns3:InterfaceDeploymentId" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="MessageId" type="ns2:Identifier" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="GetMessageStatusResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="recieved" type="tns:TransactionDetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="sent" type="tns:TransactionDetails" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="GetRecentMessagesRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="interface">
<xs:complexType>
<xs:sequence>
<xs:element ref="ns3:InterfaceDeploymentId" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="number_of_events" type="xs:int" minOccurs="0" />
<xs:element name="until_time" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="GetRecentMessagesResponse">
<xs:complexType>
<xs:sequence>
<xs:element ref="ns2:CanonicalHl7V2Message" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="JournalMessageRequest">
<xs:complexType>
<xs:sequence>
<xs:element ref="ns2:CanonicalHl7V2Message" minOccurs="0" />
<xs:element ref="ns2:CanonicalXmlMessage" minOccurs="0" />
<xs:element ref="ns2:CanonicalTextMessage" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="JournalMessageResponse">
<xs:complexType>
<xs:sequence />
</xs:complexType>
</xs:element>

<xs:complexType name="TransactionDetails">
<xs:sequence>
<xs:element name="InterfaceId" type="ns3:InterfaceId" />
<xs:element name="timestamp" type="xs:long" />
<xs:element name="status" type="tns:MessageStatus" />
<xs:element name="messageControlID" type="xs:string" />
<xs:element name="messageAlternateIDs" type="ns2:Identifier" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="IntervalType">
<xs:restriction base="xs:string">
<xs:enumeration value="MINUTE" />
<xs:enumeration value="HOUR" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="MessageStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="OK" />
<xs:enumeration value="FILTERED" />
<xs:enumeration value="ERROR" />
</xs:restriction>
</xs:simpleType>
</xs:schema>