core-jar/src/test/resources/wsdl/journal_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="urn:xsd:sail:infrastructure:services:systemregistry" xmlns:ns1="urn:sail:xsd:infrastructure:services:security" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn:xsd:sail:infrastructure:services:systemregistry">

<xs:import namespace="urn:sail:xsd:infrastructure:services:security" schemaLocation="http://uhnvesb01d.uhn.on.ca:19080/SAIL_Infrastructure_JournallingService/JournallingWebService?xsd=9" />

<xs:element name="AddOrUpdateContactRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="contact" type="tns:Contact" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateContactResponse">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="contact" type="tns:Contact" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateDefaultInboundInterfaceAlertRuleRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="interfaceAlertRule" type="tns:InterfaceAlertRule" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateDefaultOutboundInterfaceAlertRuleRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="interfaceAlertRule" type="tns:InterfaceAlertRule" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateDeploymentRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="Deployment" type="tns:InterfaceDeployment" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateEngineBoxRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="engineBox" type="tns:EngineBox" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateEngineDomainRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="engineDomain" type="tns:EngineDomain" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateInterfaceAlertRuleRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" />
<xs:element name="interfaceAlertRule" type="tns:InterfaceAlertRule" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateInterfaceRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="Interface" type="tns:InterfaceInstance" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateOrgRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="org" type="tns:Org" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="AddOrUpdateSystemRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="system" type="tns:InterfaceSystem" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="GetAlertsForInterfaceDeploymentRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" />
<xs:element name="number_of_events" type="xs:int" minOccurs="0" />
<xs:element name="starting_element_index" type="xs:int" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="InterfaceDeploymentId">
<xs:complexType>
<xs:sequence />
<xs:attribute ref="tns:engine_box_id" />
<xs:attribute ref="tns:engine_domain_id" />
<xs:attribute ref="tns:interface_id" />
<xs:attribute ref="tns:interface_direction" />
<xs:attribute ref="tns:org_id" />
<xs:attribute ref="tns:system_id" />
</xs:complexType>
</xs:element>

<xs:element name="LookupAllInterfaceInformationRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="interested_in_org" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="LookupAllInterfaceStatusRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="include_error_status_also" type="xs:boolean" minOccurs="0" />
<xs:element name="include_5_minute_count_from" type="xs:long" minOccurs="0" />
<xs:element name="include_hour_count_from" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveBoxRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="id" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveDomainRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="id" type="tns:EngineDomainId" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveInterfaceAlertRuleRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" />
<xs:element name="interfaceAlertRuleId" type="xs:long" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveInterfaceDeploymentRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveInterfaceRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="id" type="tns:InterfaceId" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveOrgRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="id" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="RemoveSystemRequest">
<xs:complexType>
<xs:complexContent>
<xs:extension base="ns1:RequestSecurity">
<xs:sequence>
<xs:element name="id" type="tns:InterfaceSystemId" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:complexType name="Contact">
<xs:sequence>
<xs:element name="ContactId" type="xs:string" />
<xs:element name="PrimaryPersonName" type="xs:string" />
<xs:element name="PrimaryPersonPhone" type="xs:string" />
<xs:element name="PrimaryPersonEmail" type="xs:string" />
<xs:element name="EscalationPersonName" type="xs:string" />
<xs:element name="EscalationPersonPhone" type="xs:string" />
<xs:element name="EscalationPersonEmail" type="xs:string" />
<xs:element name="OnCallPersonName" type="xs:string" />
<xs:element name="OnCallPersonPhone" type="xs:string" />
<xs:element name="OnCallPersonEmail" type="xs:string" />
<xs:element name="AlertEmail" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EngineBox">
<xs:sequence>
<xs:element name="Id" type="xs:string" />
<xs:element name="IpReal" type="xs:string" />
<xs:element name="IpVirtual" type="xs:string" />
<xs:element name="Environment" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterfaceSystemId">
<xs:sequence />
<xs:attribute ref="tns:org_id" />
<xs:attribute ref="tns:system_id" />
</xs:complexType>

<xs:complexType name="InterfaceInstance">
<xs:sequence>
<xs:element name="description" type="xs:string" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="journal_to_disk" type="xs:boolean" />
<xs:element name="journal_to_database" type="xs:boolean" />
</xs:sequence>
<xs:attribute ref="tns:interface_id" />
<xs:attribute ref="tns:interface_direction" />
<xs:attribute ref="tns:org_id" />
<xs:attribute ref="tns:system_id" />
</xs:complexType>

<xs:complexType name="InterfaceAlertRule">
<xs:sequence>
<xs:element name="ID" type="xs:long" />
<xs:element name="Name" type="xs:string" />
<xs:element name="Active" type="xs:boolean" />
<xs:element name="Mon" type="xs:boolean" />
<xs:element name="Tue" type="xs:boolean" />
<xs:element name="Wed" type="xs:boolean" />
<xs:element name="Thu" type="xs:boolean" />
<xs:element name="Fri" type="xs:boolean" />
<xs:element name="Sat" type="xs:boolean" />
<xs:element name="Sun" type="xs:boolean" />
<xs:element name="StartTime" type="xs:string" minOccurs="0" />
<xs:element name="EndTime" type="xs:string" minOccurs="0" />
<xs:element name="MaxNoMessagesMins" type="xs:long" minOccurs="0" />
<xs:element name="MaxQueuedMessagesMins" type="xs:long" minOccurs="0" />
<xs:element name="AlertEmail" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EngineDomainId">
<xs:sequence />
<xs:attribute ref="tns:engine_box_id" />
<xs:attribute ref="tns:engine_domain_id" />
</xs:complexType>

<xs:complexType name="Org">
<xs:sequence>
<xs:element name="id" type="xs:string" />
<xs:element name="name" type="xs:string" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EngineDomain">
<xs:sequence>
<xs:element name="PortBase" type="xs:int" minOccurs="0" />
<xs:element name="Description" type="xs:string" minOccurs="0" />
</xs:sequence>
<xs:attribute ref="tns:engine_box_id" />
<xs:attribute ref="tns:engine_domain_id" />
</xs:complexType>

<xs:complexType name="InterfaceSystem">
<xs:sequence>
<xs:element name="description" type="xs:string" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="contact" type="xs:string" />
<xs:element name="emailActive" type="xs:boolean" />
</xs:sequence>
<xs:attribute ref="tns:org_id" />
<xs:attribute ref="tns:system_id" />
</xs:complexType>

<xs:complexType name="InterfaceDeployment">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" />
<xs:element name="local_port" type="xs:long" minOccurs="0" />
<xs:element name="remote_port" type="xs:long" minOccurs="0" />
<xs:element name="remote_ip" type="xs:string" minOccurs="0" />
<xs:element name="alert_rule_id" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="interface_links" type="tns:InterfaceLinkage" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterfaceLinkage">
<xs:sequence>
<xs:element ref="tns:InterfaceDeploymentId" />
<xs:element name="lastSeen" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterfaceId">
<xs:sequence />
<xs:attribute ref="tns:interface_id" />
<xs:attribute ref="tns:interface_direction" />
<xs:attribute ref="tns:org_id" />
<xs:attribute ref="tns:system_id" />
</xs:complexType>

<xs:attribute name="engine_box_id" type="xs:string" />

<xs:attribute name="engine_domain_id" type="xs:string" />

<xs:attribute name="interface_direction" type="xs:string" />

<xs:attribute name="interface_id" type="xs:string" />

<xs:attribute name="org_id" type="xs:string" />

<xs:attribute name="system_id" type="xs:string" />
</xs:schema>