core-jar/src/test/resources/wsdl/journal_5.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="urn:sail:xsd:fault:Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn:sail:xsd:fault:Fault">

<xs:element name="InvalidInputException" nillable="true">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:AbstractFault">
<xs:sequence>
<xs:element name="failureCode" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="InvalidInputFault">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:AbstractFault">
<xs:sequence>
<xs:element name="failureCode" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="SecurityFailureFault">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:AbstractFault">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="UnexpectedErrorException" nillable="true">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:AbstractFault">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:element name="UnexpectedErrorFault">
<xs:complexType>
<xs:complexContent>
<xs:extension base="tns:AbstractFault">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>

<xs:complexType name="AbstractFault">
<xs:sequence>
<xs:element name="failureMessage" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>