core-jar/src/test/resources/wsdl/journal_4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn:sail:xsd:infrastructure:services:GlobalValues">

<xs:complexType name="Address">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0" />
<xs:element name="address2" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="province" type="xs:string" minOccurs="0" />
<xs:element name="postalCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>