ejb-jar/src/test/resources/test_simple.wsdl

<wsdl:definitions targetNamespace="http://ws.ehr.uhn.ca" xmlns:ns2="https://syseng3/dev-uhn-ehr-ws-r3/ehrPatientService" xmlns:ns1="http://model.ehr.uhn.ca" xmlns:ns4="http://ehractservice.dev_uhn_ehr_ws_r3.syseng3.https" xmlns:ns3="http://exception.services.ehr.uhn.ca" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://ws.ehr.uhn.ca" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
  	<xsd:schema>
  		<xsd:import namespace="urn:2" schemaLocation="bar.xsd"></xsd:import>
  	</xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.ehr.uhn.ca">
      <xsd:element name="getPatientByMrn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePatientMrn" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theMrnAuth" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByMrnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:Patient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InternalErrorException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true" type="ns3:InternalErrorException"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BackendException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true" type="ns3:BackendException"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getActivePatientsByAttendingPhysicianId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePhysicianId" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theIdAuth" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByAttendingPhysicianIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationExtended">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="theMrnAuthority" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theVisitFacility" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theArea" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationExtendedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByReferringPhysicianId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePhysicianId" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theIdAuth" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByReferringPhysicianIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientStatusExtended">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePatientIdentifiers" nillable="true" type="ns1:ArrayOfPatientIdentifier"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientStatusExtendedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:NodrData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByAttendingPhysicianIdExtended">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePhysicianId" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theIdAuth" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByAttendingPhysicianIdExtendedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePatientIdentifiers" nillable="true" type="ns1:ArrayOfPatientIdentifier"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatientStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationPid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="theLocationPid" nillable="true" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationPidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationPidExtended">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="theLocationPid" nillable="true" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationPidExtendedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMrnHistoryByMrn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="theMrn" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theMrnAuth" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMrnHistoryByMrnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfMrnHistory"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByPidExtended">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePatientPid" nillable="true" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByPidExtendedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:Patient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvalidArgumentException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="faultInfo" nillable="true" type="ns3:InvalidArgumentException"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getActivePatientsByLocation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="theMrnAuthority" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theVisitFacility" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theArea" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivePatientsByLocationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfPatient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByPid">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePatientPid" nillable="true" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByPidResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:Patient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByMrnExtended">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="thePatientMrn" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="theMrnAuth" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientByMrnExtendedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:Patient"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.ehr.uhn.ca">
      <xsd:complexType name="Patient">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="allergyAssessmentTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="businessPhone" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="cautionNote" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="cautionNoteHistory" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="dateOfBirth" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="familyPhysicianFirstName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyPhysicianId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyPhysicianLastName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyPhysicianMiddleName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="gender" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="homePhone" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="medicalRecordNumber" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="middleName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mrnHistories" nillable="true" type="ns1:ArrayOfTns2MrnHistory"/>
          <xsd:element minOccurs="0" name="patientAddresses" nillable="true" type="ns1:ArrayOfTns2PatientAddress"/>
          <xsd:element minOccurs="0" name="patientAssessments" nillable="true" type="ns1:ArrayOfTns2PatientAssessment"/>
          <xsd:element minOccurs="0" name="patientContacts" nillable="true" type="ns1:ArrayOfTns2PatientContact"/>
          <xsd:element minOccurs="0" name="patientIdentifiers" nillable="true" type="ns1:ArrayOfTns2PatientIdentifier"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="primaryLanguage" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2PatientContact">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfPatientContact"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPatientContact">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PatientContact" nillable="true" type="ns1:PatientContact"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PatientContact">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="address" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="businessPhone" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="contactCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="contactDesc" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="homePhone" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="relCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="relDesc" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2PatientAssessment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfPatientAssessment"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPatientAssessment">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PatientAssessment" nillable="true" type="ns1:PatientAssessment"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PatientAssessment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="interpretation" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="invalidNumber" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="numValue" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="refRangeHigh" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="refRangeLiteral" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="refRangeLow" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="refRangeType" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="statusCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="textValue" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="unit" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="valueType" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2PatientAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfPatientAddress"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPatientAddress">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PatientAddress" nillable="true" type="ns1:PatientAddress"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PatientAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="addrType" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="city" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="country" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="postalZip" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="provinceState" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetAddress" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2PatientIdentifier">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfPatientIdentifier"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPatientIdentifier">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PatientIdentifier" nillable="true" type="ns1:PatientIdentifier"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PatientIdentifier">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="assigningAuthority" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="version_code" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2MrnHistory">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfMrnHistory"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMrnHistory">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MrnHistory" nillable="true" type="ns1:MrnHistory"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MrnHistory">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="currentMrn" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mrn" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="patientPid" type="xsd:int"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="sitePid" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPatient">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Patient" nillable="true" type="ns1:Patient"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NodrData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="acts" nillable="true" type="ns1:ArrayOfTns2Act"/>
          <xsd:element minOccurs="0" name="locations" nillable="true" type="ns1:ArrayOfTns2Location"/>
          <xsd:element minOccurs="0" name="medications" nillable="true" type="ns1:ArrayOfTns2Medication"/>
          <xsd:element minOccurs="0" name="patients" nillable="true" type="ns1:ArrayOfTns2Patient"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="sites" nillable="true" type="ns1:ArrayOfTns2Site"/>
          <xsd:element minOccurs="0" name="visits" nillable="true" type="ns1:ArrayOfTns2Visit"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2Act">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfAct"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAct">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Act" nillable="true" type="ns1:Act"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Act">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="availabilityTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="discontinuedTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="effectiveTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="instOrderId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="notes" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nurseReviewed" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="observations" nillable="true" type="ns4:ArrayOfTns2Observation"/>
          <xsd:element minOccurs="0" name="orderProfile" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="procCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="procName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="resulted" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="statusCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="visitPid" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfObservation">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Observation" nillable="true" type="ns1:Observation"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Observation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="interpretation" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="invalidNumeric" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="notes" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="numValue" type="xsd:double"/>
          <xsd:element minOccurs="0" name="orderPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="refRangeHigh" type="xsd:double"/>
          <xsd:element minOccurs="0" name="refRangeLiteral" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="refRangeLow" type="xsd:double"/>
          <xsd:element minOccurs="0" name="refRangeType" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="sequenceNumber" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="statusCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="targetSite" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="textValue" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="unit" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="valueType" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2Visit">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfVisit"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfVisit">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Visit" nillable="true" type="ns1:Visit"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Visit">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="admissionDateTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="assignedReason" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="diagnosis" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="dischargeDateTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="instVisitId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="locationPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="mdFirstName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mdId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mdLastName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mdMiddleName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="preconversionInstVisitId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="refMdFirstName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="refMdId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="refMdLastName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="refMdMiddleName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="rehabCentre" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="rehabRecheck" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="sitePid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="stream" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="subStream" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="trVisitType" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="triageCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="visitStatus" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="visitType" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2Location">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfLocation"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLocation">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Location" nillable="true" type="ns1:Location"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Location">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="area" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="site" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="subArea" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="subSubArea" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2Medication">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfMedication"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMedication">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Medication" nillable="true" type="ns1:Medication"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Medication">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="comments" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="createdTimestamp" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="form" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="frequency" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="instOrderId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="instructions" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="lastUpdatedTimestamp" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="maxDose" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="medicationStatus" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="minDose" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nurseReviewed" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="orderStatus" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="orderTime" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="patientPid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="procedureCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="procedureName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="productCode" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="productName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="quantity" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="route" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="units" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="visitPid" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2Site">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfSite"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSite">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Site" nillable="true" type="ns1:Site"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Site">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mrnAuthority" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="name" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="pid" nillable="true" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="shortName" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="visitFacility" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTns2Patient">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfPatient"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPatientStatus">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PatientStatus" nillable="true" type="ns1:PatientStatus"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PatientStatus">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="location" nillable="true" type="ns1:Location"/>
          <xsd:element minOccurs="0" name="patient" nillable="true" type="ns1:Patient"/>
          <xsd:element minOccurs="0" name="visit" nillable="true" type="ns1:Visit"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.services.ehr.uhn.ca">
      <xsd:complexType name="InternalErrorException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BackendException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvalidArgumentException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="https://syseng3/dev-uhn-ehr-ws-r3/ehrPatientService">
      <xsd:element name="fault1" type="tns:InternalErrorException"/>
      <xsd:element name="fault" type="tns:BackendException"/>
      <xsd:element name="fault2" type="tns:InvalidArgumentException"/>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ehractservice.dev_uhn_ehr_ws_r3.syseng3.https">
      <xsd:complexType name="ArrayOfTns2Observation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="item" nillable="true" type="ns1:ArrayOfObservation"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPatientByMrnExtendedRequest">
    <wsdl:part name="parameters" element="tns:getPatientByMrnExtended"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="fault">
    <wsdl:part name="fault" element="ns2:fault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByPidExtendedRequest">
    <wsdl:part name="parameters" element="tns:getPatientByPidExtended"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByAttendingPhysicianIdResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByAttendingPhysicianIdResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByPidRequest">
    <wsdl:part name="parameters" element="tns:getPatientByPid"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByPidResponse">
    <wsdl:part name="parameters" element="tns:getPatientByPidResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByMrnRequest">
    <wsdl:part name="parameters" element="tns:getPatientByMrn"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByAttendingPhysicianIdExtendedResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByAttendingPhysicianIdExtendedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByPidExtendedResponse">
    <wsdl:part name="parameters" element="tns:getPatientByPidExtendedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientStatusExtendedRequest">
    <wsdl:part name="parameters" element="tns:getPatientStatusExtended"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationPidResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationPidResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByAttendingPhysicianIdRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByAttendingPhysicianId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationExtendedRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationExtended"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByMrnResponse">
    <wsdl:part name="parameters" element="tns:getPatientByMrnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByAttendingPhysicianIdExtendedRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByAttendingPhysicianIdExtended"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByReferringPhysicianIdRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByReferringPhysicianId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientByMrnExtendedResponse">
    <wsdl:part name="parameters" element="tns:getPatientByMrnExtendedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMrnHistoryByMrnResponse">
    <wsdl:part name="parameters" element="tns:getMrnHistoryByMrnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="fault1">
    <wsdl:part name="fault1" element="ns2:fault1"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationExtendedResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationExtendedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationPidExtendedResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationPidExtendedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientStatusRequest">
    <wsdl:part name="parameters" element="tns:getPatientStatus"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMrnHistoryByMrnRequest">
    <wsdl:part name="parameters" element="tns:getMrnHistoryByMrn"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientStatusResponse">
    <wsdl:part name="parameters" element="tns:getPatientStatusResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationPidExtendedRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationPidExtended"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByReferringPhysicianIdResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByReferringPhysicianIdResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="fault2">
    <wsdl:part name="fault2" element="ns2:fault2"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationResponse">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPatientStatusExtendedResponse">
    <wsdl:part name="parameters" element="tns:getPatientStatusExtendedResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivePatientsByLocationPidRequest">
    <wsdl:part name="parameters" element="tns:getActivePatientsByLocationPid"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ehrPatientServicePortType">
    <wsdl:operation name="getPatientByMrn">
      <wsdl:input name="getPatientByMrnRequest" message="tns:getPatientByMrnRequest"></wsdl:input>
      <wsdl:output name="getPatientByMrnResponse" message="tns:getPatientByMrnResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByAttendingPhysicianId">
      <wsdl:input name="getActivePatientsByAttendingPhysicianIdRequest" message="tns:getActivePatientsByAttendingPhysicianIdRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByAttendingPhysicianIdResponse" message="tns:getActivePatientsByAttendingPhysicianIdResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocationExtended">
      <wsdl:input name="getActivePatientsByLocationExtendedRequest" message="tns:getActivePatientsByLocationExtendedRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByLocationExtendedResponse" message="tns:getActivePatientsByLocationExtendedResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByReferringPhysicianId">
      <wsdl:input name="getActivePatientsByReferringPhysicianIdRequest" message="tns:getActivePatientsByReferringPhysicianIdRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByReferringPhysicianIdResponse" message="tns:getActivePatientsByReferringPhysicianIdResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientStatusExtended">
      <wsdl:input name="getPatientStatusExtendedRequest" message="tns:getPatientStatusExtendedRequest"></wsdl:input>
      <wsdl:output name="getPatientStatusExtendedResponse" message="tns:getPatientStatusExtendedResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByAttendingPhysicianIdExtended">
      <wsdl:input name="getActivePatientsByAttendingPhysicianIdExtendedRequest" message="tns:getActivePatientsByAttendingPhysicianIdExtendedRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByAttendingPhysicianIdExtendedResponse" message="tns:getActivePatientsByAttendingPhysicianIdExtendedResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientStatus">
      <wsdl:input name="getPatientStatusRequest" message="tns:getPatientStatusRequest"></wsdl:input>
      <wsdl:output name="getPatientStatusResponse" message="tns:getPatientStatusResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocationPid">
      <wsdl:input name="getActivePatientsByLocationPidRequest" message="tns:getActivePatientsByLocationPidRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByLocationPidResponse" message="tns:getActivePatientsByLocationPidResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocationPidExtended">
      <wsdl:input name="getActivePatientsByLocationPidExtendedRequest" message="tns:getActivePatientsByLocationPidExtendedRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByLocationPidExtendedResponse" message="tns:getActivePatientsByLocationPidExtendedResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMrnHistoryByMrn">
      <wsdl:input name="getMrnHistoryByMrnRequest" message="tns:getMrnHistoryByMrnRequest"></wsdl:input>
      <wsdl:output name="getMrnHistoryByMrnResponse" message="tns:getMrnHistoryByMrnResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientByPidExtended">
      <wsdl:input name="getPatientByPidExtendedRequest" message="tns:getPatientByPidExtendedRequest"></wsdl:input>
      <wsdl:output name="getPatientByPidExtendedResponse" message="tns:getPatientByPidExtendedResponse"></wsdl:output>
      <wsdl:fault name="fault2" message="tns:fault2"></wsdl:fault>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocation">
      <wsdl:input name="getActivePatientsByLocationRequest" message="tns:getActivePatientsByLocationRequest"></wsdl:input>
      <wsdl:output name="getActivePatientsByLocationResponse" message="tns:getActivePatientsByLocationResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientByPid">
      <wsdl:input name="getPatientByPidRequest" message="tns:getPatientByPidRequest"></wsdl:input>
      <wsdl:output name="getPatientByPidResponse" message="tns:getPatientByPidResponse"></wsdl:output>
      <wsdl:fault name="fault2" message="tns:fault2"></wsdl:fault>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientByMrnExtended">
      <wsdl:input name="getPatientByMrnExtendedRequest" message="tns:getPatientByMrnExtendedRequest"></wsdl:input>
      <wsdl:output name="getPatientByMrnExtendedResponse" message="tns:getPatientByMrnExtendedResponse"></wsdl:output>
      <wsdl:fault name="fault" message="tns:fault"></wsdl:fault>
      <wsdl:fault name="fault1" message="tns:fault1"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ehrPatientServiceHttpBinding" type="tns:ehrPatientServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPatientByMrn">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPatientByMrnRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPatientByMrnResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByAttendingPhysicianId">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByAttendingPhysicianIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByAttendingPhysicianIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocationExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByLocationExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByLocationExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByReferringPhysicianId">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByReferringPhysicianIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByReferringPhysicianIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientStatusExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPatientStatusExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPatientStatusExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByAttendingPhysicianIdExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByAttendingPhysicianIdExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByAttendingPhysicianIdExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPatientStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPatientStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocationPid">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByLocationPidRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByLocationPidResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocationPidExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByLocationPidExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByLocationPidExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMrnHistoryByMrn">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMrnHistoryByMrnRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMrnHistoryByMrnResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientByPidExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPatientByPidExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPatientByPidExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault2">
        <wsdlsoap:fault name="fault2" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActivePatientsByLocation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getActivePatientsByLocationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActivePatientsByLocationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientByPid">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPatientByPidRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPatientByPidResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault2">
        <wsdlsoap:fault name="fault2" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPatientByMrnExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPatientByMrnExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPatientByMrnExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault1">
        <wsdlsoap:fault name="fault1" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="fault">
        <wsdlsoap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ehrPatientService">
    <wsdl:port name="ehrPatientServiceHttpPort" binding="tns:ehrPatientServiceHttpBinding">
      <wsdlsoap:address location="http://uhnvesb01d.uhn.on.ca:18780/tst-uhn-ehr-ws/services/ehrPatientService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
