ejb-jar/src/test/resources/test_simple2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="net:svcret:demo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="net:svcret:demo" name="DemoServiceSvc">
	<types>
		<xsd:schema>
			<xsd:import namespace="net:svcret:demo" schemaLocation="http://192.168.1.3:8081/DemoServiceSvc/StringConcatService?xsd=1" />
		</xsd:schema>
	</types>
	<message name="addStrings">
		<part name="arg0" type="xsd:string" />
		<part name="arg1" type="xsd:string" />
	</message>
	<message name="addStringsResponse">
		<part name="return" type="xsd:string" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<message name="addStringsSlow">
		<part name="arg0" type="xsd:string" />
		<part name="arg1" type="xsd:string" />
	</message>
	<message name="addStringsSlowResponse">
		<part name="return" type="xsd:string" />
	</message>
	<portType name="StringConcatService">
		<operation name="addStrings" parameterOrder="arg0 arg1">
			<input wsam:Action="addStrings" message="tns:addStrings" />
			<output wsam:Action="net:svcret:demo/StringConcatService/addStringsResponse" message="tns:addStringsResponse" />
			<fault message="tns:Exception" name="Exception" wsam:Action="net:svcret:demo/StringConcatService/addStrings/Fault/Exception" />
		</operation>
		<operation name="addStringsSlow" parameterOrder="arg0 arg1">
			<input wsam:Action="addStringsSlow" message="tns:addStringsSlow" />
			<output wsam:Action="net:svcret:demo/StringConcatService/addStringsSlowResponse" message="tns:addStringsSlowResponse" />
		</operation>
	</portType>
	<binding name="DemoServicePortBinding" type="tns:StringConcatService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="addStrings">
			<soap:operation soapAction="addStrings" />
			<input>
				<soap:body use="literal" namespace="net:svcret:demo" />
			</input>
			<output>
				<soap:body use="literal" namespace="net:svcret:demo" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="addStringsSlow">
			<soap:operation soapAction="addStringsSlow" />
			<input>
				<soap:body use="literal" namespace="net:svcret:demo" />
			</input>
			<output>
				<soap:body use="literal" namespace="net:svcret:demo" />
			</output>
		</operation>
	</binding>
	<service name="DemoServiceSvc">
		<port name="DemoServicePort" binding="tns:DemoServicePortBinding">
			<soap:address location="http://192.168.1.3:8081/DemoServiceSvc/StringConcatService" />
		</port>
	</service>
</definitions>